body {
    max-width: 30rem;
    
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.text {
    background-color:antiquewhite;
    margin-top: 1.5rem;
    padding: 2em;
    margin-bottom: 2em;
    font-size: x-large;
}