body {
  font-family: "Roboto", sans-serif;
  color: #1f1d1d;
}

.container {
  width: 75%;
  height: auto;

  background-image: url("img/fondo.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.lateral-container {
  padding: 1rem;
}
.lateral {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
}
.header {
  width: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}
main {
  display: flex;
  justify-content: space-around;
  padding-top: 2.5rem;
  width: 50%;
  margin: 0 auto;
}
.pagina {
  display: flex;
  flex-direction: column;
  padding-left: 2.4rem;
  justify-content: center;
  padding-top: 1.5rem;
}
#pagines {
  margin-top: 1.5%;
  color: black;
}

#nom {
  color: wheat;
  margin-bottom: 5rem;
}
.text {
  padding-top: inherit;
  font-size: 1.5rem;
  /* font-weight: 700; */
  color: black;
}
.textEsq {
  margin-left: 0;
  padding-left: 0;
}
.foot {
  display: flex;
  justify-content: space-around;
  padding-top: 5rem;
}

.btnSi {
  background-color: green;
  border: none;
  border-radius: 12px;
  color: gray;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.btnNo {
  background-color: orange;
  border: none;
  border-radius: 12px;
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
